.align-center{
  text-align:center;
}
.align-right{
  text-align:right;
}
.auto-side-margins{
  margin: 0px auto 0px auto
}
.clear-both{
  clear: both;
}
.inline-block{
  display:inline-block;
}
.inline-table{
  display: inline-table;
}